#[[#]]# ${displayName} ${displayCategory} plugin for Embulk

#if (${language} == "ruby")
TODO: Write short description here and ${fullProjectName}.gemspec file.
#elseif (${language} == "java")
TODO: Write short description here and build.gradle file.
#else
TODO: Write short description here.
#end

#[[##]]# Overview

#if (${category} == "output" || ${category} == "file_output")
* **Plugin type**: ${displayCategory}
* **Load all or nothing**: no
* **Resume supported**: no
* **Cleanup supported**: yes
#elseif (${category} == "file_input")
* **Plugin type**: ${displayCategory}
* **Resume supported**: yes
* **Cleanup supported**: yes
#elseif (${category} == "input")
* **Plugin type**: ${displayCategory}
* **Resume supported**: yes
* **Cleanup supported**: yes
* **Guess supported**: no
#elseif (${category} == "parser" || ${category} == "decoder")
* **Plugin type**: ${displayCategory}
* **Guess supported**: no
#else
* **Plugin type**: ${displayCategory}
#end

#[[##]]# Configuration

- **option1**: description (integer, required)
- **option2**: description (string, default: `"myvalue"`)
- **option3**: description (string, default: `null`)

#[[##]]# Example

```yaml
#if (${category} == "input" || ${category} == "file_input")
in:
  type: ${name}
  option1: example1
  option2: example2
#elseif (${category} == "output" || ${category} == "file_output")
out:
  type: ${name}
  option1: example1
  option2: example2
#elseif (${category} == "filter")
filters:
  - type: ${name}
    option1: example1
    option2: example2
#elseif (${category} == "parser")
in:
  type: any file input plugin type
  parser:
    type: ${name}
    option1: example1
    option2: example2
#elseif (${category} == "formatter")
out:
  type: any output input plugin type
  formatter:
    type: ${name}
    option1: example1
    option2: example2
#elseif (${category} == "decoder")
in:
  type: any output input plugin type
  decoders:
    - type: ${name}
      option1: example1
      option2: example2
#elseif (${category} == "encoder")
out:
  type: any output input plugin type
  encoders:
    - type: ${name}
      option1: example1
      option2: example2
#end
```

#if (${category} == "parser" || ${category} == "decoder")
(If guess supported) you don't have to write `${category}:` section in the configuration file. After writing `in:` section, you can let embulk guess `${category}:` section using this command:

```
$ embulk gem install ${fullProjectName}
$ embulk guess -g ${name} config.yml -o guessed.yml
```
#end

#[[##]]# Build

```
#if (${language} == "ruby")
$ rake
#elseif (${language} == "java")
$ ./gradlew gem  # -t to watch change of files and rebuild continuously
#end
```
