name: Build and test
on: [ pull_request ]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        # - macOS-latest
        # - windows-latest
        gradle_task:
        - ":embulk-api:check"
        - ":embulk-spi:check"
        - ":embulk-core:check"
        - ":embulk-ruby:check"
        - ":embulk-standards:check"
        - ":embulk-junit4:check"
        - ":embulk-deps:check"
        - ":embulk-decoder-bzip2:check"
        - ":embulk-decoder-gzip:check"
        - ":embulk-encoder-bzip2:check"
        - ":embulk-encoder-gzip:check"
        - ":embulk-filter-remove_columns:check"
        - ":embulk-filter-rename:check"
        - ":embulk-formatter-csv:check"
        - ":embulk-guess-bzip2:check"
        - ":embulk-guess-csv:check"
        - ":embulk-guess-csv_all_strings:check"
        - ":embulk-guess-gzip:check"
        - ":embulk-guess-json:check"
        - ":embulk-input-config:check"
        - ":embulk-input-file:check"
        - ":embulk-output-file:check"
        - ":embulk-output-null:check"
        - ":embulk-output-stdout:check"
        - ":embulk-parser-csv:check"
        - ":embulk-parser-json:check"
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build and test
      run: ./gradlew ${{ matrix.gradle_task }}
